<h3>Create an Account</h3>
<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <app-input label="username" inputType="text" [control]="authForm.get('username')"></app-input>
  <app-input label="password" inputType="password" [control]="authForm.get('password')"></app-input>
  <app-input label="password confirmation" inputType="password" [control]="authForm.get('passwordConfirmation')"></app-input>
  <div class="form-control error is-invalid"
       *ngIf="
       authForm.errors
       && authForm.get('password').touched
       && authForm.get('passwordConfirmation').touched">
      <p *ngIf="authForm.errors.passWordsDontMatch">
        Password and  Password Confirmation must match
      </p>
    <p *ngIf="authForm.errors.noConnection">
      No internet connection, failed to sign up.
    </p>
    <p *ngIf="authForm.errors.unknown">
      Failed to sign up
    </p>
  </div>
  <div class="submit">
    <button class="btn btn-primary">Submit</button>
  </div>
</form>
