/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';


a{
  text-decoration: none;
  &.active {
    text-decoration: underline;
  }
}

/**Forms**/
.form-group {
  margin-bottom: 1rem;
}
.form-control.error {
  display: inline-block;
  margin: 5px 0;
  width: auto;
  p{
    margin: 0;
    font-size: 13px;
  }
}
